{% extends "blog/base.html" %}

{% block content %}

<h1>&#10084;&#65039; About Us &#10084;&#65039; </h1>
<p>Welcome to Love on Top — the hottest new dating app for all people alike. Are you tired of endless swiping, boring conversations which lead nowhere, and awkward dates? Well, Love on Top has got you covered! Love on Top does all the work for you... all we ask is you fill out a simple survey indicating your preferences and we'll take it from there. Using our algorithm, we'll match you with someone whose values and interests align with yours and present to you exactly who we think you should go out with! So what are you waiting for? Fill out our survey today! &#128149;</p>
</body></html>

{% endblock content %}
