{% extends "blog/base.html" %}

{% block content %}


<div class="row">
	<div class="col-6 my-auto">
		<span class="align-middle">
			<p>Welcome to Match4U: the hottest new dating app (or not dating app)! Whether you’re looking for your soulmate or a kayaking buddy, we gotchu. How it works: fill out the survey with your preferences and let our algorithm do the rest! We’ll match you with people who are best aligned with your interests and values (or maybe we’re just trolling you) to get your hottest — or most platonic — match. </p>

		</span>
	</div>
	<div class="col-6">
		<img src="../static/blog/img/cats.gif" height="400em">
	</div>
</div>

<div class="row">
	<div class="col-6">
		<img src="../static/blog/img/cats2.gif" height="400em">
	</div>
	<div class="col-6 my-auto">
		<span class="align-middle">
			<h1>The only dating app on the web that will not give you a match :D</h1>
		</span>
	</div>
</div>


{% endblock content %}
