{% extends "blog/base.html" %}

{% block content %}


<div class="row">
<div class="col-6 my-auto">
<span class="align-middle">
<h4>Welcome to Love on Top ❤️ : the hottest new dating app! </br> 
Whether you’re looking for your soulmate or a kayaking buddy, we gotchu. 
<br>
<br>
How it works: fill out the survey with your preferences and let our algorithm do the rest! We’ll match you with people who are best aligned with your interests and values to get your hottest match. Fill out our survey today for the most meaningful matches of your life and let us handle the rest! </h4>

</span>
</div>
<div class="col-6">
<img src="/static/blog/img/cats.gif" height="400em">
</div>
</div>

<div class="row">
<div class="col-6">
<img src="/static/blog/img/cats2.gif" height="400em">
</div>
<div class="col-6 my-auto">
<span class="align-middle">
<h1>The only dating app on the web which does the work for you 💕 </h1>
</span>
</div>
</div>


{% endblock content %}
