{% extends "blog/base.html" %}

{% block content %}

<h1>The Survey</h1>

<h3> Name: </h3>
 <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

<h3> Contact/Social Media: </h3>
  <div class="form-group">
    <label for="exampleInputPassword1">Preferred Contact Method</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

<h3> Sexual Orientation: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Hetero
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Homo
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Bi 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Other
  </label>
</div>



<h3> Political Affiliation: </h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet3" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Republican
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet3" id="Radios2" value="option2" >
  <label class="form-check-label" for="exampleRadios2">
    Democrat
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet3" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Libertarian
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet3" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Other
  </label>
</div>




<h3> It’s okay that my partner drinks: </h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet4" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Yes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet4" id="Radios2" value="option2" >
  <label class="form-check-label" for="exampleRadios2">
    No
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet4" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Occasionally
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet4" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Doesn’t Matter 
  </label>
</div>


<h3> It’s okay that my partner smokes cigarettes: </h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Yes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios2" value="option2" >
  <label class="form-check-label" for="exampleRadios2">
    No
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Occasionally
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Doesn’t Matter 
  </label>
</div>

<h3> I always vote: </h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Always
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios2" value="option2" >
  <label class="form-check-label" for="exampleRadios2">
    Usually
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Sometimes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Rarely
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Never
  </label>
</div>


<h3>How important is staying healthy (diet, exercise, etc.) to you? </h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet6" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Not at all
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet6" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Not very important
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet6" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Somewhat important
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet6" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Very important 
  </label>
</div>


<h3>Social activism/volunteering is important to me:*</h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Strongly disagree
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Somewhat disagree
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Does not matter
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Strongly agree
  </label>
</div>


<h3>What kind of music do you listen to? </h3>


<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Pop
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Hip-Hop
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    R&B
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Country 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Rock 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Metal 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Specific to my culture/language 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Other 
  </label>
</div>

<h3> How would you spend free time?:</h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet10" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Reading a book
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet10" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Exercising
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet10" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Listening to music
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet10" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Cooking
  </label>
</div>



<h3> Ideal place to live: </h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet11" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    City
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet11" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Suburbs
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet11" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Rural
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet11" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Other
  </label>
</div>


<h3> Are you a pet person?:</h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet12" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Yes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet12" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    No
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet12" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Doesn’t matter
  </label>
</div>
 


<h3> What is your favorite type of food?: </h3>


<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet13" id="Radios4" value="option4" checked>
  <label class="form-check-label" for="exampleRadios3">
    Savory 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet13" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Sweet 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet13" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Spicy 
  </label>
</div>


<h3> Are you an: </h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet14" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Extrovert
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet14" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Introvert
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet14" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Ambivert 
  </label>
</div>

<h3> I prefer to be: </h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet15" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Indoors
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet15" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Outdoors
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet15" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Both 
  </label>
</div>



<h3>How important is physical intimacy to you?:</h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet16" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Not at all
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet16" id="Radios2" value="option2" >
  <label class="form-check-label" for="exampleRadios2">
    Somewhat important 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet16" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Important but depends on the other person  
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet16" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
   Very important
  </label>
</div>


<h3> I’m looking for a: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet17" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Relationship
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet17" id="Radios2" value="option2" >
  <label class="form-check-label" for="exampleRadios2">
    Fling
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet17" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Let’s see where this goes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet17" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Other
  </label>
</div>

<!--
<div class="alert alert-success" role="alert">
  Your survey has been submitted! You will be able to see your matches <a href="{% url 'profile' %}" class="alert-link">on your profile</a> soon.
</div>-->

<button class="btn mt-5 mb-5" onclick="alertFunction()">Submit</button>

<script>
function alertFunction() {
  alert("Your survey has been submitted! You will be able to see your matches on your profile soon.");
}
</script>


{% endblock content %}
