{% extends "blog/base.html" %}

{% block content %}

<h1>The Survey</h1>


<h3> Find your match: </h3>
Romantic 
Platonic
Don’t know yet


<h3> Name: </h3>

<h3> Bio (where are you from, university you go to, degree, job, other interests/hobbies) </h3>


<h3> Contact/Social Media: </h3>


<h3> Gender Identity: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet1" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Male
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet1" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Female
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet1" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    NB
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet1" id="Radios4" value="option4" >
  <label class="form-check-label" for="exampleRadios3">
    Other
  </label>
</div>


<h3> Sexual Orientation: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" disabled>
  <label class="form-check-label" for="exampleRadios1">
    H*tero 🙄
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2" checked>
  <label class="form-check-label" for="exampleRadios2">
    Homo
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Bi 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Other
  </label>
</div>

<h3> Political Affiliation: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Republican
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Democrat
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Libertarian
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Other
  </label>
</div>

<h3> It’s okay that my partner drinks: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet4" id="Radios1" value="option1" disabled>
  <label class="form-check-label" for="exampleRadios1">
    Yes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet4" id="Radios2" value="option2" checked>
  <label class="form-check-label" for="exampleRadios2">
    No
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet4" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Occasionally
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet4" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Doesn’t Matter 
  </label>
</div>



<h3> It’s okay that my partner smokes cigarettes: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Yes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    No
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Occasionally
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Doesn’t Matter 
  </label>
</div>


<h3> I always vote: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Always
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Usually
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Sometimes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Rarely
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet5" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Never
  </label>
</div>


<h3>How important is staying healthy (diet, exercise, etc.) to you? </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet6" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Not at all
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet6" id="Radios2" value="option2" >
  <label class="form-check-label" for="exampleRadios2">
    Not very important
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet6" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Somewhat important
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet6" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Very important 
  </label>
</div>


<h3>Social activism/volunteering is important to me:*</h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet7" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Strongly disagree
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet7" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Somewhat disagree
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet7" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Does not matter
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet7" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Strongly agree
  </label>
</div>


<h3>What kind of music do you listen to? </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Pop
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Hip-Hop
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    R&B
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Country 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Rock 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Metal 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Specific to my culture/language 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet8" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Other 
  </label>
</div>


<h3> How would you spend free time?:</h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Reading a book
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Exercising
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Listening to music
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Cooking
  </label>
</div>

<h3> Ideal place to live: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    City
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Suburbs
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Rural
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Other
  </label>
</div>


<h3> Are you a pet person?:</h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Yes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    No
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Doesn’t matter
  </label>
</div>


<h3> What is your favorite type of food?: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios4" value="option4" checked>
  <label class="form-check-label" for="exampleRadios3">
    Savory 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Sweet 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet9" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Spicy 
  </label>
</div>


<h3> Are you an: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Extrovert
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Introvert
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Ambivert 
  </label>
</div>


<h3> I prefer to be: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Indoors
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Outdoors
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Both 
  </label>
</div>



<h3>How important is physical intimacy to you?:</h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Not at all
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Somewhat important
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Important, but depends on the other person 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Very important
  </label>
</div>


<h3> Ideal first date: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Movie and pizza night
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Late night drive
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Fancy dinner 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios4" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    A bunch of activities/games 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios5" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Amusement Park
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios6" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Library
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios7" value="option4">
  <label class="form-check-label" for="exampleRadios3">
    Club
  </label>
</div>

<h3> I’m looking for a: </h3>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Long-term relationship
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    A fling
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Don’t know yet  (let’s see where this goes)
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioSet2" id="Radios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    No labels
  </label>
</div>


{% endblock content %}
