{% extends "blog/base.html" %}

{% block content %}

<h1>The Survey</h1>
{% for question in question %}
  <h3> {{question.q}} </h3>

  <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Second default radio
  </label>
</div>

{%endfor%} 

{% endblock content %}
